<<<<<<< HEAD
hr{
  margin: 64px auto;
}

.page-title-arsenal{
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
    display: flex;
  }

  .page-title-arsenal::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 49%;
    background-color: black;
    top: 270px;
    right: 225px;
  }

  .page-title-arsenal{
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
    display: flex;
  }

  .container-arsenal{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 64px;
  }

  .container-arsenal ul {
    list-style: none;
    font-family: "DINNextW1G-Regular";
    margin: 0;
  }
=======
.container-arsenal{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 32px auto;
  gap: 32px;

}
.container-arsenal-inverso{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 32px auto;
  gap: 32px;
  flex-direction: row-reverse;

}










>>>>>>> 0a50ebb7a4563cceccbd21a0897714665efd5eb0
