.container-arsenal{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 32px auto;
  gap: 32px;

}
.container-arsenal-inverso{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 32px auto;
  gap: 32px;
  flex-direction: row-reverse;

}










