@import url(https://db.onlinewebfonts.com/c/b1339a2ac36faa14e206d482e0063fc5?family=DIN+Next+Devanagari+W05+Bold);
@import url(https://db.onlinewebfonts.com/c/7bb508fd7255ec38b6f29cb4cf8668cf?family=DINNextW1G-Regular);

body{
    margin: 0;
    padding: 0;
    background-color: #ECE8E1;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-content{
    height: 440px;
    background: no-repeat center/cover url("https://wallpapers.com/images/featured/valorant-305kescxw5dpup7y.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

header nav {
    display: flex; /* flex-direction: row;  -> Padrão */
    justify-content: space-between;
    margin: 0 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 30px;
    /* flex-direction: row;  -> Padrão */
}

header nav ul li {
    /* margin: top/bottom left/right; */
    margin: 0 15px;
    cursor: pointer;
}

.header-content img{
    max-width: 300px;
}

.nav {
    text-transform: uppercase;
    text-align: center;
  }
  
  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  

  
  .nav a {
    padding: .6em .8em;
    color: white;
    position: relative;
    text-decoration: none;
  }


.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: white;
}

.btn {
    min-width: 150px;
    padding: 10px;
    border: solid 1px white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    background: #EA4A5A;
    color: white;
    cursor: pointer;
    font-family: "DIN Next Devanagari W05 Bold";
}

.title{
    font-family: "DIN Next Devanagari W05 Bold";
    color: #FF4655;
}

.text-font{
    font-family: "DINNextW1G-Regular";
    color: #383e3a;
}

/* Estilização tab menu "Mapas" */

.container{
	width: 80vw;
	margin: 0 auto;
}

ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}

.tab-content{
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

/* Final da estilização */

#container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5%;
  width: 70%;
  margin: 32px auto 32px auto;
}

hr{
  width: 70%;
  margin: 0 auto;
}

.news-container{
  width: 70%;
  margin: 32px auto 32px auto;
  padding: 0;
}

.card-img img{
  width: 345px;
  height: 195px;
}

.card-title{
  font-family: "DINNextW1G-Regular";
  font-weight: 600;
}

.news{
  display: flex;
  justify-content: space-between;
}

footer{
  background-color: #111;
  padding-bottom: 64px;
  color: #fff;
  font-family: "DINNextW1G-Regular";
}
.sitemap ul{
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #292929;
}

.sitemap ul li{
  color: #FFF;
  padding: 20px;
}

.sitemap ul li:hover{
  color: #EA4A5A;
}

.dev-footer{
  display: flex;
  justify-content: center;
}



.dev-cards{
  color: #FFF;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.dev{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page-title{
  width: 70%;
  margin: 0 auto;
}

.page-title h2{
  font-size: 40px;
}